* {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
/* background-color:#503F8C; */
font-size: 1.25rem;
}

body {
margin: 0;
}

.containerGrid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.sidebar {
    grid-area: sidebar;
    border: 1px red solid;
    background-color: #2486D6; 
    padding-left: 1rem;
    color:white;
}

.sidebarHeader{
    display: grid;
    grid-template-columns: 1fr;
    justify-items:left;
    padding-left: 2rem;
    padding-top: 1rem;
}
.logo{
height:1.2rem;
width: auto;
}

.sidebarHeader ~ div{
    font-size: 1rem;
    font-weight: 100;
}
.sidebarMenu{
    display: grid;
    grid-template-rows: 0.25fr 1fr 0.75fr 1fr;
    grid-template-areas: 
    "...."
    "sidebarMain"
    "...."
    "sidebarSupport";
    justify-items:left;
    padding-left: 2rem;
}
.sideItem{
    margin-bottom: 0.15rem;
}
.sidebarMain{
    grid-area: sidebarMain;
}

.sidebarSupport{
    grid-area: sidebarSupport;
}

.header {
    grid-area: header;
    border: 1px red solid;
}
.main {
    grid-area: main;
    border: 1px red solid;
}


/* Color Theme Swatches in Hex */
.Evina-1-hex { color: #D94350; }
.Evina-2-hex { color: #503F8C; }
.Evina-3-hex { color: #503FBF; }
.Evina-4-hex { color: #242526; }
.Evina-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in Hex */
.Dashboard-1-hex { color: #2F2B42; }
.Dashboard-2-hex { color: #2A273B; }
.Dashboard-3-hex { color: #2486D6; }
.Dashboard-4-hex { color: #F5F7FA; }
.Dashboard-5-hex { color: #E9ECF2; }
